<div class="wrapper">
	<div class="container">
		<div class="content-section">
			<h3><%= @user.username %> profile</h3>
			<hr>
			<% if @user.first_name.present? %>
			<h6>First name: <%= @user.first_name %></h6>
			<% end %>
			<% if @user.last_name.present? %>
			<h6>Last name: <%= @user.last_name %></h6>
			<% end %>
			<% if @user.bio.present? %>
			<h6>About me: <%= @user.bio %></h6>
			<% end %>
		</div>
	</div>
</div>