// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-body {
	text-align: center;
}

.post-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.post-content {
  width: 100%;
  padding: 20px 35px 30px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);   
}

.post-content + .post-content {
	margin-top: 30px;
}

.new-post-btn {
	float: right;
	padding-bottom: 10px;
}

.post-header {
	text-align: center;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .col {
        width: 100%;
    }
}
